body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background: rgb(233, 233, 233);
}
.main-word {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px;
  height: 100%;
  background-color: white;
  border: solid 1px;

}

#wordSpace {
  position: relative;
  height: 200px;
}
#slider {
  padding-top: 3px;
  position: absolute;
  width: 0px;
  height: 130px;
  z-index: 1;
}
.letter {
  position: relative;
  z-index: 2;
  left: 0;
  width: 100px;
}

/* for mobile devices */
@media only screen and (hover: none) and (pointer: coarse){
  .main-word {
    width: 100%;
  }
  
  .letter {
    width: 50px;
  }
  
  #slider {
    height: 60px;
  }
}